
.container {
    min-height: 100vh;
    max-width: 1024px;
    margin: auto;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
