.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    padding: 5rem 3rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.resume {
    display: flex;
}

.resume img {
    padding: 0 1rem;
    max-height: 300px;
}

.project {
    padding-top: 1rem;
}
